<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav th:replace="layout :: sma-header"></nav>
  <body>
    <nav th:replace="layout :: sma-body"></nav>
    <h2>Students</h2>
    <div class="container">
      <a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3"
      >  Add Student </a
    > 

    <br />
    <br />
    <div class="container">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each=" student : ${students}">
            <td th:text="${student.studentName}"></td>
            <td th:text="${student.studentEmail}"></td>
            <td>
              <a
                th:href="@{/students/update(id=${student.studentId})}"
                class="btn btn-info btn-sm"
                >Update</a
              >
              <a
                th:href="@{/students/delete(id=${student.studentId})}"
                class="btn btn-danger btn-sm"
                onClick="if(!(confirm('Are you sure to delete the Student?'))) return false"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
