<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav th:replace="layout :: sma-header"></nav>
  <body>
    <nav th:replace="layout :: sma-body"></nav>
    <h2>Create Classroom</h2>
    <div class="container">
      <form
        th:action="@{/classrooms/save}"
        th:object="${classroom}"
        method="POST"
      >
        <!-- hidden field is used to bind the clasroom when clicked for update -->
        <input type="hidden" th:field="${classroom.classroomId}" />
        <div class="form-group-row" >
          <label  class="form-label">Classroom Name</label>
          <input type="text" placeholder="Enter Classroom name"   th:field="${classroom.classroomName}" />
          <span style="color: red;"  th:if="${#fields.errors('classroomName')}" th:errors="${classroom.classroomName}"> </span>  

        </div>
        <div class="form-group-row">
          <label  class="form-label">Classroom Email</label>
          <input type="email" placeholder="Enter Classroom email" th:field="${classroom.classroomEmail}" />
          <span style="color: red;"  th:if="${#fields.errors('classroomEmail')}" th:errors="${classroom.classroomEmail}"> </span>  

        </div>
        <div class="form-group-row">
          <label for="classroomName" id="clsStudents" class="form-label">Students to add</label>
          <select th:field="*{students}" multiple="multiple" id="clsStudents">
            <option
              th:each=" student : ${students}"
              th:value="${student.studentId}"
              th:text="${student.studentName}"
            ></option>
          </select>

        </div>
        <div class="form-group-row">
          <label for="classroomName"  class="form-label">Teachers to add</label>
          <select th:field="*{teachers}" id="clsTeachers" multiple="multiple">
            <option
              th:each=" teacher : ${teachers}"
              th:value="${teacher.teacherId}"
              th:text="${teacher.teacherName}"
            ></option>
          </select>
        </div>
        <div class="form-group-row">
          <label >Start Date</label>
          <input type="text" id="dp3" class="mb-4 col-2 col-xs-4" value="Start date" th:field="${classroom.classroomStartDate}" >
        </div>
        <div class="form-group-row">
          <label >End Date</label>
          <input type="text" id="dp4" class="mb-4 col-2 col-xs-4" value="End date" th:field="${classroom.classroomEndDate}" >
        </div>
        <script type="text/javascript">
	      	$('#dp3').datepicker();
	      	$('#dp4').datepicker();
	      </script>
        <div class="form-group-row">
          <button type="submit"  class="btn btn-primary" >Enter Classroom</button>
        </div>
      </form>
    </div>
  </body>
</html>
