<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav th:replace="layout :: sma-header"></nav>
  <body>
    <nav th:replace="layout :: sma-body"></nav>
    <h2>Teacher</h2>
    <div class="container">
      <form th:action="@{/teachers/save}" th:object="${teacher}" method="POST">
        <!-- hidden field is used to bind the teacher when clicked for update -->
        <input type="hidden" th:field="${teacher.teacherId}" />
        <div class="form-group-row">
          <label class="form-label">Teacher Name</label>
          <input type="text" th:field="${teacher.teacherName}" />
          <span style="color: red;" th:if="${#fields.errors('teacherName')}" th:errors="${teacher.teacherName}"> </span>
        </div>
        <div class="form-group-row">
          <label class="form-label">Teacher Name</label>
          <input type="email" th:field="${teacher.teacherEmail}" />
          <span style="color: red;"  th:if="${#fields.errors('teacherEmail')}" th:errors="${teacher.teacherEmail}"> </span>

        </div>
        <button type="submit" class="btn btn-primary">Create teacher</button>
      </form>
    </div>
  </body>
</html>
